src/main/mule/dwpoc11.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="65e0f5bc-58b0-4124-94e0-a0b69a582984" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="dwpoc11Flow" doc:id="8c07bd93-8db3-4575-befb-3f6abf534fa7" >
		<http:listener doc:name="Listener" doc:id="1b21d9b8-6d32-4313-9bb4-75439e233b6b" config-ref="HTTP_Listener_config" path="/test"/>
		<ee:transform doc:name="Transform Message" doc:id="223605f5-aba8-423f-9410-fbf32a78cbd7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
("15/02/2022") splitBy("/")]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7071fbee-f487-4333-bc2b-0cf73f79685d" message="#[payload]"/>
	</flow>
</mule>
